h1{
    color: rgb(0, 0, 0);
    }
h2{
        color: darkcyan;
    }
h3{
        color: aqua;
    }
a{
        color:rgb(75, 50, 165)
    }
body{
    background-color: lightsalmon;
      /* background-image: url('1.jpg'); */
       background-attachment: fixed;
       background-size: cover; 
       margin: 100; 
       padding: 10;
        
    }
hr{
        color: #000;
    }
/* h4{
        display: flex;
        align-items: center;
        justify-content: center;
       
    } 
*/
